body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #BE1622;
}

.logo {
    width: 250px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-text {
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    padding: 10px;
}

.mobile-menu a {
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
}

main {
    padding: 50px;
}

video {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
}

.iframe-box iframe {
    width: 100%;
    height: 350px;
    margin: 20px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #007FB0;
}

.footer-col {
    width: 30%;
}

.footer-col a {
    text-decoration: none;
}

@media (max-width: 900px){

    main{
        padding: 125px;
    }
}

@media (max-width: 600px) {

    main{
        padding: 50px;
    }

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .header-text {
        font-size: 20px;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }
}