/* Common CSS for all HTML files */

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}
body h1 {
    color: #34516C;
}
body h2 {
    color: #F2BE1A;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #BE1622;
}

header a, footer a, header p, footer p, footer h3 {
    color: white;
    text-decoration: none;
}

footer h3 {
    font-size: 25px;
}

.logo {
    width: 250px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-text {
    font-size: 33px;
    flex-grow: 1;
    text-align: center;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    padding: 10px;
}

.mobile-menu a {
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
}

main {
    padding: 50px;
    padding-left: 220px;
    padding-right: 220px;
    flex: 1;
}

video {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
}

.iframe-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #34516C;
}

.footer-col {
    width: 30%;
}

.footer-col a {
    text-decoration: none;
}

@media (max-width: 900px){

    main{
        padding: 125px;
    }
}

@media (max-width: 600px) {

    main{
        padding: 50px;
    }

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .header-text {
        font-size: 20px;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }
}

/* Products */

.product-filters {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 8px 16px;
    border: 1px solid #aaa;
    background: none;
    cursor: pointer;
}

.filter-btn.active {
    border-width: 2px;
}

.products-grid {
    display: grid;
    gap: 20px;
}

@media (min-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
}

.product-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.product-card p {
    margin: 5px 0;
}

.card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-buttons a,
.card-buttons button {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #aaa;
    background: none;
    cursor: pointer;
}

.filter-btn {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}

.filter-btn.active {
    background: #333;
    color: white;
    border-color: #333;
}

.filter-btn:hover {
    background: #e0e0e0;
}

#price {
    color: #BE1622;
    font-size: 20px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  font-size: 18px;

  border: none;
  cursor: pointer;

  display: none;
  z-index: 1000;
  background-color: #9BCE1E;
  bottom: 300px;
}

/* ITEM */
.item-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.item-card {
    display: flex;
    gap: 20px;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.item-card img {
    width: 300px;
    height: auto;
    border-radius: 6px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-price {
    font-size: 22px;
    font-weight: bold;
}

.add-cart-big {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #333;
    color: white;
    border-radius: 6px;
}

@media (max-width: 700px) {
    .item-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .item-card img {
        width: 60%;
        height: 60%;
    }
}

/* CART ITEMS */
.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.cart-item-img {
    width: 120px;
    border-radius: 10px;
}

.cart-info {
    flex: 1;
}

.cart-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.count-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.count-controls button {
    padding: 5px 10px;
}

.remove {
    background-color: #c62828;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

/* REBRENDING */
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    gap: 40px;
}

.promo-section input {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.promo-section button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#promoMessage {
    margin-top: 10px;
    font-size: 14px;
}

.summary-right {
    text-align: right;
}

#total-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-controls {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


/* FIXES */
.mobile-menu.active {
    display: flex;
}

.out-of-stock {
    opacity: 0.5;
}

.good-stock {
    border: 2px solid green;
}

.last-few {
    border: 2px solid orange;
}

.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 12px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

@media (max-width: 600px) {

    #scrollTopBtn {
        width: 45px;
        height: 45px;

        font-size: 14px;

        bottom: 20px;
        right: 20px;
    }
}

.back-btn:hover { 
    background: #555; 
}

@media (max-width: 700px) {
    .cart-page {
        padding: 10px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .cart-item-img {
        width: 100%;
        max-width: 250px;
        align-self: center;
    }

    .cart-info {
        width: 100%;
    }

    .cart-actions {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .count-controls {
        gap: 15px;
    }

    .cart-summary {
        flex-direction: column;
        gap: 30px;
    }

    .promo-section input {
        width: 100%;
    }

    .promo-section button {
        width: 100%;
        margin-top: 10px;
    }

    .summary-right {
        width: 100%;
        text-align: left;
    }

    .cart-controls {
        justify-content: space-between;
        width: 100%;
    }

    .cart-controls button {
        flex: 1;
    }
}